img{
    width: 25px;
    height: 25px;
    margin-right: 1em;
}
.contact{
    display: inline-flex;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3em;
}
.logo{
    padding-top: 0.5em;
    width: inherit;
}
.info{
    text-align: center;
    font-size: 1.5em;
}
.container{
    text-align: center;
}