{% extends 'base.html' %}
{% block title %}遇到的问题{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/question.css') }}">
        {#    富文本编辑器#}
    <script src="{{ url_for('static',filename='ckeditor/ckeditor.js') }}"></script>
    <script>
{#        判断标题是否为空，为空则弹出警告并且移除按钮上的焦点#}
        function check_title() {
            var btn = document.getElementById('release_btn')
            btn.onfocus = function () {
                if (document.getElementById('blogtitle').value == "") {
                    btn.blur()
                    alert('必须有标题!')

            }
            }
        }
    </script>
{% endblock %}

{% block wrapper %}
    <h3 class="loginTitle"></h3>
    <form action="" method="post">
        <div class="form-container">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="请输入标题" name="title" id="blogtitle">
            </div>
            <div class="form-group">
                {# 少了class='form-control',文本框就变成宽度只有一小半 #}
                <textarea name="content" rows="100" placeholder="内容" class="form-control"></textarea>
                <script>CKEDITOR.replace('content');</script>
            </div>
            <div class="form-group">

                <button class="btn btn-info" style="background-color: lightpink" id="release_btn">立即发布</button>
                <script>check_title()</script>
            </div>
        </div>
    </form>
{% endblock %}